<section id="horizontal-features">

  <div class="container">

    <div class="row">
      <div class="col-md-4 feature-item">
        <div class="image">
          <img src="/assets/smallicons-svg/www.svg" alt="">
        </div>

        <div class="text">
          <h4>Built with Bootstrap 3</h4>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, nam, accusamus</p>
        </div>

      </div>
      <div class="col-md-4 feature-item">
        <div class="image">
          <img src="/assets/smallicons-svg/eye.svg" alt="">
        </div>

        <div class="text">
          <h4>Easily Custmizable</h4>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, nam, accusamus</p>
        </div>

      </div>
      <div class="col-md-4 feature-item">
        <div class="image">
          <img src="/assets/smallicons-svg/store.svg" alt="">
        </div>

        <div class="text">
          <h4>20+ Page Options</h4>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, nam, accusamus</p>
        </div>

      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</section>
